<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tim Pengembang</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="../../breakpoints.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="head">
        <p class="site-title">Cinta<span class="mark">Damai.Id</span></p>
        <nav>
          <ul>
            <li class="nav-items"><a href="../../index.html">home</a></li>
            <li class="nav-items">
              <a href="../dashboard/">dashboard</a>
            </li>
            <li class="nav-items">
              <a href="views/login/index.html">join us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section class="team-container">
        <div class="card">
          <img src="../../img/profile/charles.jpg" alt="Ketua" />
          <h3>Charles lin</h3>
          <p><strong>Ketua Tim</strong></p>
        </div>

        <div class="card">
          <img src="../../img/profile/stanley.jpg" alt="Anggota 1" />
          <h3>Stanley Sun</h3>
          <p><strong>Anggota 1</strong></p>
        </div>

        <div class="card">
          <img src="../../img/profile/edbert.jpg" alt="Anggota 2" />
          <h3>Edbert</h3>
          <p><strong>Anggota 2</strong></p>
        </div>

        <div class="card">
          <img src="../../img/profile/leo.jpg" alt="Anggota 3" />
          <h3>Leonardo Muliangga</h3>
          <p><strong>Anggota 3</strong></p>
        </div>

        <div class="card">
          <img src="../../img/profile/leon.jpg" alt="Anggota 4" />
          <h3>Leon Yaputra</h3>
          <p><strong>Anggota 4</strong></p>
        </div>
      </section>
    </main>

    <footer>
      <div class="main">
        <div class="info">
          <p>dibuat dengan sepenuh hati oleh</p>
          <p>Kelompok YTTA</p>
          <p>#cinta_damai</p>
        </div>
        <form action="#">
          <p class="title">Berlangganan untuk berita terbaru</p>
          <input type="email" placeholder="Email" name="email" required />
          <button type="submit">Subscribe</button>
        </form>
      </div>
      <p class="copy">Copyright &copy; 2023 CintaDamai.id</p>
    </footer>
  </body>
</html>
