<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Gender Equality</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="../../breakpoints.css" />
  </head>
  <body>
    <header>
      <div class="head">
        <p class="site-title">Cinta<span class="mark">Damai.Id</span></p>
        <nav>
          <ul>
            <li class="nav-items"><a href="../../index.html">home</a></li>
            <li class="nav-items"><a href="../profile/">profile</a></li>
            <li class="nav-items"><a href="../login/">join us</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="grafik-indeks">
      <h2>Indeks Kesenjangan Gender Indonesia (2020–2024)</h2>
      <div class="chart-container">
        <canvas id="genderIndexChart"></canvas>
      </div>
    </div>
    <section class="laporan">
      <h2 class="title">Kondisi Kesetaraan Gender di Indonesia</h2>
      <div class="info">
        <div class="content">
          <p class="text">
            Menurut <strong>Global Gender Gap Report 2024</strong> oleh World
            Economic Forum, skor Indeks Kesenjangan Gender Global (GGGI)
            Indonesia adalah <strong>0,686</strong>, turun dari tahun sebelumnya
            yaitu <strong>0,697</strong>.
          </p>

          <ul>
            <li>
              Pendidikan: <strong>0,971</strong>. menunjukkan kesetaraan hampir
              sempurna.
            </li>
            <li>
              Kesehatan dan Kelangsungan Hidup: <strong>0,97</strong>. sudah
              seimbang antargender.
            </li>
            <li>
              Ekonomi: <strong>0,667</strong>.sedikit meningkat dari tahun
              sebelumnya.
            </li>
            <li>
              Politik: <strong>0,138</strong>. paling rendah dan mengalami
              penurunan.
            </li>
          </ul>

          <p>
            Pada tahun 2023, Indonesia menempati
            <strong>peringkat ke-87 dari 146 negara</strong>. Hal ini
            menunjukkan bahwa masih banyak pekerjaan rumah yang perlu
            diselesaikan, terutama dalam bidang partisipasi ekonomi dan politik.
            <br />
            sumber:
          </p>
          <a
            href="https://dataindonesia.id/varia/detail/data-perkembangan-skor-indeks-kesenjangan-gender-di-indonesia-pada-20202024"
            >dataindonesia.id</a
          >
        </div>
      </div>
    </section>

    <section>
      <table>
        <thead>
          <tr>
            <th>Jenis Pekerjaan</th>
            <th>Upah Pria</th>
            <th>Upah Wanita</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tenaga Profesional, Teknisi, dan Tenaga Lain Tbdi</td>
            <td>Rp4,82 juta</td>
            <td>Rp3,02 juta</td>
          </tr>
          <tr>
            <td>Tenaga Kepemimpinan dan Ketatalaksanaan</td>
            <td>Rp6,98 juta</td>
            <td>Rp5,73 juta</td>
          </tr>
          <tr>
            <td>Pejabat Pelaksana, Tenaga Tata Usaha, dan Tenaga Ybdi</td>
            <td>Rp4,07 juta</td>
            <td>Rp3,46 juta</td>
          </tr>
          <tr>
            <td>Tenaga Usaha Penjualan</td>
            <td>Rp3,31 juta</td>
            <td>Rp2,31 juta</td>
          </tr>
          <tr>
            <td>Tenaga Usaha Jasa</td>
            <td>Rp3,13 juta</td>
            <td>Rp1,67 juta</td>
          </tr>
          <tr>
            <td>
              Tenaga Usaha Pertanian, Perkebunan, Peternakan, Perikanan,
              Kehutanan, dan Perburuan
            </td>
            <td>Rp2,37 juta</td>
            <td>Rp1,53 juta</td>
          </tr>
          <tr>
            <td>Tenaga Produksi, Operator Alat Angkutan, dan Pekerja Kasar</td>
            <td>Rp3,04 juta</td>
            <td>Rp2,22 juta</td>
          </tr>
        </tbody>
      </table>
      <p>
        sumber: <br />
        <a href="https://www.inilah.com/rata-rata-upah-buruh-di-indonesia"
          >inilah.com</a
        >
      </p>
    </section>

    <script src="main.js"></script>
  </body>
</html>
