:root {
  font-size: 12px;
  --bg-smoke: whitesmoke;
  --bg-green: rgb(110, 199, 187);
  --bg-green-sec: rgb(96, 165, 161);
  --text-primary: #1b1b1bee;
  --text-sec: #3a3a3aee;
  --padding: 50px;
  --font-big: 2.7rem;
  --font-med: 1.5rem;
  --font-regular: 1.2rem;
  --gap: 20px;
  --font-small: 1.1rem;
}

::selection {
  background-color: #1b1b1b85;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

img {
  object-fit: contain;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  box-sizing: border-box;
  font-style: normal;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-overflow-style: none;
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
}

header {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  min-width: 100%;
  display: flex;
  background-color: rgba(62, 62, 62, 0.763);
  padding: 20px 10px;
  gap: var(--gap);
  justify-content: space-around;
}

header .head {
  display: flex;
  min-width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
header .site-title {
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

header .mark {
  color: var(--bg-green);
  font-weight: 900;
}
header nav {
  overflow-x: hidden;
}

header nav ul {
  display: flex;
  gap: var(--gap);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

header nav li {
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}

header nav li a {
  padding: 3px 8px;
  color: rgb(205, 205, 205);
  font-weight: 700;
}

header nav li a:hover {
  text-decoration: underline;
  background-color: rgba(159, 159, 159, 0.445);
}

header nav li a:hover {
  color: white;
}
.hero {
  min-height: 100dvh;
  min-width: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.9)
    ),
    url("./img/3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 80%;
  padding: 0 40px;
  gap: var(--gap);
}

main p {
  font-size: var(--font-med);
  color: white;
}

main h1 {
  font-size: 5rem;
  font-weight: 700;
  color: white;
}

main button {
  max-width: fit-content;
  padding: 10px 20px;
  background-color: var(--bg-green);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

main button:hover {
  background-color: var(--bg-green-sec);
}
section {
  margin: var(--padding) 0;
  padding: 0 var(--padding);
}

.pengertian {
  display: flex;
  gap: var(--gap);
}

.pengertian h2 {
  font-size: var(--font-big);
  font-weight: 700;
  flex: 1;
  text-transform: uppercase;
  color: var(--text-primary);
}

.pengertian p {
  font-size: var(--font-med);
  color: var(--text-sec);
  flex: 2;
  text-align: justify;
}

.penting > div {
  margin-bottom: var(--padding);
}

section .title {
  font-size: var(--font-big);
  font-weight: 500;
  text-transform: uppercase;
}

.penting .item-1 ul {
  margin-left: 20px;
}

.penting .item-1 ul li {
  font-size: var(--font-regular);
  list-style: decimal;
  text-align: justify;
}

.penting .item-2 .text {
  /* background-color: red; */
  font-size: var(--font-regular);
  text-align: justify;
}

.video iframe {
  min-width: 100%;
  min-height: 90vh;
}

.galeri {
  padding: 20px var(--padding);
  background-color: rgb(39, 39, 39);
}

.galeri * {
  color: white;
}

.galeri .tokoh {
  position: relative;
  display: flex;
  gap: var(--gap);
}

.galeri .toggle {
  opacity: 0;
  position: absolute;
  font-size: var(--font-regular);
  top: 20px;
  left: 50px;
  z-index: 100;
}

.galeri .tokoh-2 .toggle {
  left: unset;
  right: 50px;
}

.galeri .img {
  min-width: 50%;
  max-width: 50%;
  height: 400px;
  overflow: hidden;
}

.galeri img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.tokoh {
  margin-bottom: 20px;
}

.tokoh .nama {
  font-size: var(--font-big);
}
.tokoh .data {
  font-size: var(--font-med);
  color: rgb(207, 207, 207);
  text-align: justify;
}

.tokoh-2 {
  flex-direction: row-reverse;
}

img:hover {
  transform: scale(1.1);
}
.tokoh:hover .toggle {
  opacity: 1;
}

.laporan .info {
  display: flex;
  gap: var(--gap);
}

.laporan .content {
  font-size: var(--font-regular);
}

.laporan ul li {
  list-style: circle;
  font-size: var(--font-regular);
  margin-left: 40px;
}

.laporan p:last-child {
  margin-top: 10px;
}

.laporan .content {
  text-align: justify;
  display: flex;
  justify-content: center;
  flex: 3;
  flex-direction: column;
}

.laporan .img {
  cursor: pointer;
  flex: 2;
  overflow: hidden;
}

.laporan img {
  width: 100%;
}

.laporan img:hover {
  transform: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: var(--font-regular);
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #cfcfcf;
}

.outro .text {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: var(--font-regular);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  color: white;
  background-color: rgb(39, 39, 39);
  padding: 20px 50px;
}

footer .main {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  min-width: 80%;
}

footer form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
form input {
  padding: 10px;
  font-size: var(--font-small);
}

form button {
  padding: 10px;
  font-size: var(--font-small);
  background-color: var(--bg-green);
  border: none;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: var(--bg-green-sec);
  transform: scale(1.03);
}

footer form .title {
  font-size: var(--font-med);
}

.overlay {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.589);
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0 auto;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 0 var(--padding);
  justify-content: center;
}

.overlay img {
  width: 70%;
  aspect-ratio: 16/9;
  height: 500px;
}

/* ! */
